<!DOCTYPE HTML>
<html>
  <head>
    <title>SBCS Hour of Code</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>South Bend Code School</title>
    <link rel="shortcut icon" type="image/x-icon" href="./images/logo.png" />
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/hourofcode.css">
    <link rel="stylesheet" href="./stylesheets/footer.css">


    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-64579282-2', 'auto');
     ga('send', 'pageview');
   </script>
   <!-- Begin Inspectlet Embed Code -->
   <script type="text/javascript" id="inspectletjs">
   window.__insp = window.__insp || [];
   __insp.push(['wid', 664280720]);
   (function() {
   function ldinsp(){if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
   setTimeout(ldinsp, 500); document.readyState != "complete" ? (window.attachEvent ? window.attachEvent('onload', ldinsp) : window.addEventListener('load', ldinsp, false)) : ldinsp();
   })();
   </script>

  </head>

  <body>

    <div class="fullWidth" id="hociHeader">
      <div class="row noMargin">
        <div class="col-md-10 col-md-offset-1">
          <h1 class="largeh1 futura">Ed Tech</h1>
        </div>
      </div>
    </div>

    <ul class="noMargin nav nav-pills navbar-left">
      <li><a href="./index.html">Home</a></li>

      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Students
          <!-- <span class="caret"></span> -->
        </a>
        <ul class="dropdown-menu">
          <li><a href="./bios.html">Bios</a></li>
          <li><a href="./projects.html">Projects</a></li>
          <li><a href="./codeLegion.html">Code Legion</a></li>
        </ul>
      </li>

      <li><a href="./program.html">Open Enrollment</a></li>
      <li><a href="./about.html">About</a></li>
      <li><a href="./press.html">Press</a></li>
      <li class="active"><a href="./contact.html">Contact</a></li>
      <li><a href="https://medium.com/@sbcodeschool">Blog</a></li>
    </ul>


    <ul class="noMargin nav navbar-nav navbar-right nav-pills">
      <li><a href="https://www.facebook.com/southbendcodeschool/#" id="facebook" class="inner-social"></a></li>
      <!-- <li><a href="https://www.instagram.com/sbcodeschool/" id="instagram" class="inner-social">instagram</a></li> -->
      <li><a href="http://www.twitter.com/sbcodeschool" id="twitter" class="inner-social"></a></li>
      <li><a href="https://github.com/south-bend-code-school" id="github" class="inner-social"></a></li>
    </ul>

    <div class="row">
      <div id="introHeader"  class="col-md-10 col-md-offset-1">
        <h1>Thank you!</h1>
        <p class="lead">Here you will find all of the websites you built durning
        <a href="./hourofcodeinstructor.html"><strong class="blueText">SOUTH BEND CODE SCHOOL HOUR OF CODE</strong></a>. Enjoy!</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <blockquote>
          <p>We hope you enjoyed hour of code.  Please <a href="./contact.html">contact</a> us with questions or if you want to integrate coding into your school.</p>
        </blockquote>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-md-offset-1">
        <p><a href="./HourOfCode/EdTech2016/Angie.html"><button type="button" class="btn btn-success btn-block"> Angie </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Carla.html"><button type="button" class="btn btn-success btn-block"> Carla </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Casey.html"><button type="button" class="btn btn-success btn-block"> Casey </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Colleen.html"><button type="button" class="btn btn-success btn-block"> Colleen </button></a></p>
      </div>
      <div class="col-sm-1">
          <p><a href="./HourOfCode/EdTech2016/David1.html"><button type="button" class="btn btn-success btn-block"> David </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/DavidM.html"><button type="button" class="btn btn-success btn-block"> David M. </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Donna.html"><button type="button" class="btn btn-success btn-block"> Donna </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Elizabeth.html"><button type="button" class="btn btn-success btn-block">Elizabeth</button></a></p>
      </div>
      <div class="col-sm-1">
          <p><a href="./HourOfCode/EdTech2016/Jane.html"><button type="button" class="btn btn-success btn-block"> Jane </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Kate.html"><button type="button" class="btn btn-success btn-block"> Kate </button></a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-1">
        <p><a href="./HourOfCode/EdTech2016/Kim.html"><button type="button" class="btn btn-success btn-block"> Kim </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Lisa.html"><button type="button" class="btn btn-success btn-block"> Lisa </button></a></p>
      </div>
      <div class="col-sm-1">
          <p><a href="./HourOfCode/EdTech2016/Lisa2.html"><button type="button" class="btn btn-success btn-block"> Lisa</button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Rosa.html"><button type="button" class="btn btn-success btn-block"> Rosa </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Satterfield.html"><button type="button" class="btn btn-success btn-block">Satterfield </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Savino.html"><button type="button" class="btn btn-success btn-block"> Savino </button></a></p>
      </div>
      <div class="col-sm-1">
        <p><a href="./HourOfCode/EdTech2016/Shayla.html"><button type="button" class="btn btn-success btn-block"> Shayla </button></a></p>
      </div>
    </div>



    <footer class="footer-basic-centered">
        <div class="footer-left">

          <h3>south bend<span> CODE SCHOOL</span></h3>

          <p class="footer-links">
            <a href="./index.html">Home</a>
            |
            <a href="https://medium.com/@sbcodeschool">Blog</a>
            |
            <a href="./about.html">About</a>
            |
            <a href="./contact.html">Contact</a>
          </p>

          <div class="footer-icons">

            <a href="https://www.facebook.com/southbendcodeschool/#"><i class="fa fa-facebook"></i></a>
            <!-- <a href="https://www.instagram.com/sbcodeschool/"><i class="fa fa-instagram"></i></a> -->
            <a href="http://www.twitter.com/sbcodeschool"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/south-bend-code-school"><i class="fa fa-github"></i></a>
          </div>

          <em class="footer-company-name" >Copyright &copy; 2016 South Bend Code School LLC, All rights reserved.</em>
        </div>

      </footer>

  </body>


</html>
