{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/static/stylesheets/projects.css">
{% endblock %}

{% block content %}
  <div id="proDesc" class="row noMargin">
    <div class="col-md-10 col-md-offset-1">
        <p class="lead"> By the end of the course, South Bend Code
          School students use web development to solve a real world problem existing
          in their community. Through their app development, the students have the
          opportunity to interact with community members they might not otherwise
          have had a chance to meet. You can see their projects below.</p>
    </div>
  </div>

  <div id="projectsContainer">
    <div class="row gray padded noMargin">
      <div class="col-md-6 col-md-offset-2 text-right">
        <h1>Pet Finder</h1>
        <p>Giving every pet a happy home, and keeping them there, through a lost and found system as well as animal shelter database</p>
        <h4>Creators:</h4>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Connor/index.html" role="button">Connor</a>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Nate/index.html" role="button">Nate</a>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Jason/jason2.html" role="button">Jason</a>
      </div>
      <a href="http://pf.southbendcodeschool.com/"><div id="petFinder" class="col-md-2 projectImage"></div></a>
    </div>

    <div class="row padded noMargin">
      <a href="http://hm.southbendcodeschool.com/Hood%20Marathon.html"><div id="hoodMarathon" class="col-md-2 col-md-offset-2 projectImage"></div></a>
      <div class="col-md-6">
        <h1>Hood Marathon</h1>
        <p>Bettering the communication between law enforcement and the community, by providing a service to organize community events.</p>
        <h4>Creators:</h4>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Damali/index.html" role="button">Damali</a>
      </div>
    </div>

    <div class="row gray padded noMargin">
      <div class="col-md-6 col-md-offset-2 text-right">
        <h1>Alternative Opportunity App</h1>
        <p>Providing a system of event scheduling and collaboration to give kids an alternative to the streets.</p>
        <h4>Creators:</h4>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Mason/index.html" role="button">Mason</a>
        <a class="btn btn-default" href="./Delta-Squad-2015-C1/Jakob/index.html" role="button">Jakob</a>
      </div>
      <a href="http://aoa.southbendcodeschool.com/"><div id="alternativeOpportunity" class="col-md-2 projectImage"></div></a>
    </div>

    <div class="row padded noMargin">
      <a href="http://pe.southbendcodeschool.com"><div id="positiveEffects" class="col-md-2 col-md-offset-2 projectImage"></div></a>
      <div class="col-md-6">
        <h1>Positive Effects</h1>
        <p>Discouraging negativity by promoting positivity. Positive effects was created to crowd
          source efforts in cleaning up unsightly grafitti as well as promote graffiti artwork that
          exists around our city.</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Robinson-Center-2015/Sha-Nia/sha-nia.html" role="button">Sha-Nia</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Daniela/daniela.html" role="button">Daniela</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Skylar/skylar.html" role="button">Skylar</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Braylon/braylon.html" role="button">Braylon</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Antonio/antonio.html" role="button">Antonio</a>
        </div>
      </div>

      <div class="row gray padded noMargin">
        <div class="col-md-6 col-md-offset-2 text-right">
          <h1>South Bend Solutions</h1>
          <p>Putting a face to the affects of violence. South Bend Solutions&#146; mission is to inform and
            inspire one person at a time by enabling individuals to post stories about themselves and
            how violence has affected them.</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Robinson-Center-2015/Caribia/caribia.html" role="button">Caribia</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Tommy/tommy.html" role="button">Tommy</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Florida/florida.html" role="button">Florida</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/BreAuna/breauna.html" role="button">BreAu`na</a>
        </div>
        <a href="http://sbs.southbendcodeschool.com"><div id="sbSolutions" class="col-md-2 projectImage"></div></a>
      </div>

      <div class="row padded noMargin">
        <a href="http://fyd.southbendcodeschool.com"><div id="findingYourDestination" class="col-md-2 col-md-offset-2 projectImage"></div></a>
        <div class="col-md-6">
          <h1>Finding Your Destination</h1>
          <p>Helping students find safe recreational places to go after school in the Michiana area.
            Click the points on the map to see destinations that are safe.</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Robinson-Center-2015/Ambria/ambria.html" role="button">Ambria</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Cecilly/cecilly.html" role="button">Cecilly</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Christian/christian.html" role="button">Christian</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Amiri/amiri.html" role="button">Amiri</a>
        </div>
      </div>

      <div class="row gray padded noMargin">
        <div class="col-md-6 col-md-offset-2 text-right">
          <h1>Stop Bullying</h1>
          <p>Stop Bullying&#146;s mission is to help people in the South Bend Community who get bullied by providing
            an anonymous bully hotline where individuals can alert someone if they know violence is going to
            happen.</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Robinson-Center-2015/Dama/dama.html" role="button">Damaris</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Kiara/kiara.html" role="button">Kiara</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Maya/maya.html" role="button">Maya</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Asante/asante.html" role="button">Asante</a>
          <a class="btn btn-default" href="./Robinson-Center-2015/Red/red.html" role="button">Saiid</a>
        </div>
        <a href="http://sb.southbendcodeschool.com"><div id="stopBullying" class="col-md-2 projectImage"></div></av>
      </div>

      <div class="row padded noMargin">
        <a href="http://av.southbendcodeschool.com"><div id="anyVid" class="col-md-2 col-md-offset-2 projectImage"></div></a>
        <div class="col-md-6">
          <h1>AnyVid</h1>
          <p>Our mission is to connect Boys & Girls Clubs across the country by motivating them to share their interest allowing
            them to commumincate with each other through fun videos!</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Camisa/index.html" role="button">Camisa</a>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Pj/Preston Flowers.html" role="button">PJ</a>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Ciarra/index.html" role="button">Ciarra</a>
        </div>
      </div>

      <div class="row gray padded noMargin">
        <div class="col-md-6 col-md-offset-2 text-right">
          <h1>Bend Bash</h1>
          <p>Bend Bash&#146;s mission is to bring the community together by creating spontaneous
            face to face interaction in a safe place!</p>
          <h4>Creators:</h4>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Cole/Index.html" role="button">Cole</a>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Cristoval/index.html" role="button">Cristoval</a>
          <a class="btn btn-default" href="./Boys-and-Girls-Club-2015/Bj/index.html" role="button">BJ</a>
        </div>
        <a href="http://bb.southbendcodeschool.com"><div id="bendBash" class="col-md-2 projectImage"></div></a>
      </div>
    </div>
{% endblock %}
