body {
  background-color: #F9D64D;
  color: teal;
  font-family: cursive;
  text-align: center;
  padding:0;
  margin:0;
}
h1{
  color: #F0161B;
}
h2{
  color: #0D1B28;
}
img{
  width: 75%;
  height: 50%;
}
#love {
  background-color: #320C61;
    border-top: 10px double white;
    border-bottom: 10px double white;
}
#great {

  background-color: #320C61;
}

#future {
background-color: #320C61;
border-top: 10px double white;
border-bottom: 10px double white;
}
