body {
      background-image: url("./giphy.gif");
      background-size: cover;
      background-position: center;
      color: #FFF;
      text-align: center;
      font-family: times;
    }

    h1 {
      color: #66CCFF;
      font-family: cursive;
      font-size: 4em;
    }

    h2{color: #66CCFF;
      font-family: cursive;
    }

    img {width:70%;
    }
    #center{
      text-align: center;
    }

    #header {
      background-image: url("./html_profile.jpg");
      background-size: cover;
      height: 500px;
      background-position: center top;
    }
hr {
  color: #66CCFF;
}
