#programHeader {
  height: 25em;

  background:url("../images/connortypes.JPG") no-repeat;
  background-size: cover;
  background-position: 0 -37em;
  color: white;
  padding: 0;
}

/*.button {
position: absolute;
top: 50%;

}*/

#objectives1 a{
  color: #00BFFF !important;
}

/*===========Buttons==============*/
.button
{
  width:340px;
  height: 100px;
  background-color: #F7931E;
  color: white;
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 200%;
  <!--font-weight: bold;-->
  text-transform: none;
  border:3px dotted #00BFFF;
  margin-top: 2em;
}
.button:hover
{
  background-color: #00BFFF;
  color: white;
  margin-top: 2em;
  border:3px dotted #F7931E;
}


.button2
{
  width:200px;
  height: 60px;
  background-color: #F7931E;
  color: white;
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 200%;
  /*<!--font-weight: bold;-->*/
  text-transform: none;
  border:3px dotted #00BFFF;
  margin-top: 2em;
}
.button:hover
{
  background-color: #00BFFF;
  color: white;
  margin-top: 2em;
  border:3px dotted #F7931E;
}

.buttonOEtop
{
  width:380px;
  height: 140px;
  background-color: #F7931E;
  color: white;
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 240%;
  /*<!--font-weight: bold;-->*/
  text-transform: none;
  /*margin-top: 1em;*/
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 6em;
  border:none;
}
.buttonOEtop:hover
{
  background-color: #00bfff;
  color: white;
}

.buttonOEbottom
{
  width:380px;
  height: 140px;
  background-color: white;
  color: #F7931E;
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 240%;
  /*<!--font-weight: bold;-->*/
  text-transform: none;
  /*margin-top: 1em;*/
  border:none;
  margin-bottom: 1em;

}
.buttonOEbottom:hover
{
  background-color: #00bfff;
  color: white;

}

.buttonOEtopHome
{
  width:380px;
  height: 140px;
  background-color: #F7931E;
  color: white;
  line-height: 20px;
  padding-bottom: 2px;
  vertical-align: middle;
  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  font-size: 240%;
  /*<!--font-weight: bold;-->*/
  text-transform: none;
  margin-top: 1em;
  border:none;
  /*margin-bottom: 1em;*/

}
.buttonOEtopHome:hover
{
  background-color: #00bfff;
  color: white;

}

/*=============contact==================*/
#contactForm{
  text-align: center;
  margin-top: 2em;
}

#contactForm form {
  text-align: left;
}

#learningObjectives {
  clear:both;
  background-color: white;
  color: black;
  /*margin-top: 2em !important;*/
  padding: 1em 0 2em 0;
}

#programOverview {
  clear:both;
  background-color: white;
  color: black;
  /*margin-top: 2em !important;*/
  padding: 1em 0 2em 0;
}

#PPCP {
  clear:both;
  background-color: #F7931E;
  color: white;
  /*margin-top: 2em !important;*/
  padding: 1em 0 2em 0;
}

#PPCP2 {
  clear:both;
  color: black;
  /*margin-top: 0em !important;*/
  padding: 1em 0 2em 0;
}

#PPCP4 {
  clear:both;
  background-color: #00BFFF;
  color: white;
  /*margin-top: 2em !important;*/
  padding: 1em 0 2em 0;
}

#portfolioDiv {
  clear:both;
  background-color: white;
  color: black;
  margin-top: 2em !important;
  padding: 1em 0 2em 0;
}

#buttonarea {
  font-size: 55px;
  padding: 15px 32px;
  margin-top: 2em !important;
  background-color: white;
  color: #F7931E;
}

.wrapper {
  text-align: center;

}

.sublist {
  list-style:none;
}

.sublist li p {
  margin: 0 auto !important;
  font-weight: bold;
}

#buildStory {
  padding-top: 1em !important;
  clear:both;
  background-color: #00BFFF;
  color: white;
}
#buttonFiller {
  padding-top: 1em !important;
  clear:both;
  background-color: white;
  color: black;
}

#outer {
  width: 100%;
  text-align: left;
}

#outerBottom {
  width: 100%;
  text-align: center;
}


#FBStory {
  padding-top: 1em !important;
  background-color: #00BFFF;
  color: white;
}

#oStory {
  padding-top: 1em !important;
  background-color: #F7931E;
  color: white;
}

#oStory2 {
  /*padding-top: 1em !important;*/
  background-color: white;
  color: black;
}

#overview {
  padding-top: 1em !important;
  clear:both;
  background-color: white;
  color: black;
}

#programInfo {
  padding-top: 1em !important;
  clear:both;
  background-color: #00BFFF;
  /*background: linear-gradient(180deg, #F7931E, #00bfff, #00bfff,#F7931E);*/
  color: white;
}

#programOffer {
  padding-top: 1em !important;
  clear:both;
  background-color: #F7931E;
  /*background: linear-gradient(180deg, #F7931E, #00bfff, #00bfff,#F7931E);*/
  color: white;

}


#objectives1 {
  text-align: left;
  color: black;
}

#objectives1 h4,
#objectives1 h5 {
  color: gray;
}

#launchStory {
  padding-top: 1em !important;
  background-color: #00BFFF;
  color: white;
}

#launchStory3 {
  /*padding-top: 1em !important;*/
  background-color: #d9d9d9;
  color: black;

}

#launchStory2 {
  padding-top: 1em !important;
  background-color: transparent;
  color: white;

}

/*#homepageBanner {
  padding-top: 1em !important;
  color: white;
  background:url('../images/web_banner.jpg') no-repeat left;
  height: 36em;
  background-size: cover;
}*/

#homepageBanner {
  height: 22em;
  /*background:linear-gradient(rgba(0, 191, 255, 0.0),rgba(0, 191, 255, 0.0)),url("../images/nickBackground.jpg") no-repeat;*/
  background: none;
  background-size: 100% 100%;
  background-position: 40% 40%;
  /*background-attachment:inherit;*/
  color: black;
}

#timer {
  /*padding-top: 1em !important;*/
  background-color:#F7931E;
  color: white;
}

#instDesc {
  color: white;
  background-color: #00bfff;
  font-weight: bolder;
}

#instDesc2 {
  color: white;
  background-color: #F7931E;
}

#FlyerBackgroundDiv{
  background:url('../images/flyer.jpg') no-repeat right;
  background-size: cover;
}

.buildPic {
  background:url('../images/connoratkeys.JPG') no-repeat center;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.nickDesign {
  background:url('../images/nickShape.png') no-repeat right;
  height: 27em;
  width: 80%;
  background-size: contain;
  margin-top: 1em;
}

.FBPic {
  background:url('../images/fbdoor.jpg') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.oPic {
  background:url('../images/overview.jpg') no-repeat left;
  height: 26em;
  width: 100%;
  background-size: cover;
  margin-top: 10px;
}

.ChrisTeachesPic{
  background:url('../images/christeaches.jpg') no-repeat center;
  height: 29em;
  width: 80%;
  background-size: cover;
  /*padding-top: 2em !important;*/
}

.AttentionPic {
  background:url('../images/payAttention.png') no-repeat left;
  height: 26em;
  width: 100%;
  background-size: cover;
  margin-top: 20px;

}

.diagramPic {
  background:url('../images/whatIget.png') no-repeat left;
  height: 55em;
  width: 100%;
  background-size: cover;
}

.loPic {
  background:url('../images/lo.jpg') no-repeat center;
  height: 29em;
  width: 80%;
  background-size: cover;
}

.launchPic {
  background:url('../images/masonPresents.jpg') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.whiteboardPic {
  background:url('../images/whiteboard.jpg') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.portfolioOfWorkPic {
  background:url('../images/PortfolioOfWork.jpg') no-repeat left;
  height: 18em;
  width: 100%;
  background-size: cover;
}

.connorAndTravisPic {
  background:url('../images/ConnorAndTravis.JPG') no-repeat right;
  height: 18em;
  width: 100%;
  background-size: cover;
}

#codeLegion {
  background:url('../images/code_legion_2016_orange.png') no-repeat center;
  height: 15em;
  /*margin-top: 6em !important;*/
  background-size: contain;
}

#portfolio {
  margin-top: 2em !important;
}

#portfolio a {
  color:#00BFFF !important;
}

#overview a {
  color:#00BFFF !important;
}

#legionDiv {
  margin-top: 2em !important;
  margin-bottom: 1em !important;
}

.legionBlock {
  margin-top: 2em !important;
}

.legionBlock a {
  color: #00BFFF !important;
}

/*==================Application form divs===============*/

.nameDiv{
display: inline;

}

.phoneEmailDiv{
display: inline;

}

.cleanForm {
    width: 105%

}

/*==================Modal for Fin Aid===============*/

.finaidModal {
  padding: 2em;
}




/*==================Media===============*/
@media only screen and (max-width: 1450px) {
  #programHeader {
    height: 25em;
    background-position: 0 -13em;
  }

  #contactForm h1 {
    font-size: 2em;
  }

  #contactForm h2 {
    font-size: 1.5em;
  }

  .buttonOEbottom, .buttonOEtop, .buttonOEtopHome{
    width:320px;
    height: 80px;
    font-size: 180%;
  }

  #legionDiv {
    margin-top: 0 !important;
    margin-bottom: 1em !important;
  }

  .legionBlock {
    margin-top: 0 !important;
  }

  #PPCP h1{
font-size: 24px;
  }

}

@media only screen and (max-width: 900px) {
  #programHeader {
    background-position: 0 0em;
  }

  #myDoughnutMin, #myDoughnutFem {
    margin-left: 33% !important;
  }

  .legionBlock, #codeLegion {
    margin-top:0 !important;
  }

  .buttonOEtop{
      margin-top: 2em;
  }

  .cleanForm {
    margin-left: 5em;
width: 600px;
  }


}

@media only screen and (max-width: 750px) {
  #myDoughnutMin, #myDoughnutFem {
    margin-left: 15% !important;
  }

  #programHeader {
  height: 15em;

  }

  #programHeader h1 {
    font-size: 4em;

  }

  #objectives1 {
    color: black;
    font-size: 9px;
}


@media only screen and (max-width: 580px) {


  .buttonOEtop{
      margin-top: 1em;
      margin-left: 3em;
  }
}

@media only screen and (max-width: 500px) {


  .buttonOEtop{
      margin-top: 1em;
      margin-left: 4em;
  }

  .buttonOEbottom, .buttonOEtop, .buttonOEtopHome{
    width:270px;
    height: 80px;
    font-size: 150%;
  }

  #FlyerBackgroundDiv{
    background: none;
    text-align: center;
  }

  #objectives1 {
    text-align: center;
    color: black;
  }

}

@media only screen and (max-width: 450px) {

  .largeh1 {
    font-size: 4em !important;
  }

  .buttonOEtop{
      margin-top: 1em;
      margin-left: 3em;
  }

  .cleanForm {
    width:225px;
  }

}

@media only screen and (max-width: 420px) {

  .buttonOEtop {
    margin-left: 3em;
  }

  .cleanForm {
    width:150px;
  }

}

@media only screen and (max-width: 405px) {

  .buttonOEtop {
    margin-left: 2em;
  }

  .cleanForm {
    width:150px;
  }

}

  @media only screen and (max-width: 380px) {

    .cleanForm {
      width:180px;
    }

  }

  @media only screen and (max-width: 330px) {

    .buttonOEtop {
      margin-left: 0.5em;
    }

    .cleanForm {
      width:180px;
    }

  }
