body {
  color:white;
  background-color: Purple;
}

h1 {
  color: yellow;
}

h2 {
   color: purple;
}

#mainHeader {
  color: white;
}
button {
  width: 150px;
  height:75px;
  background-color: transparent;
  color: white;
  front-size: 2em;
  border: 2px soild white;
  transition: background-color 1s;

}

#red:hover {
  background-color: red;
}

#blue:hover {
  background-color: blue;
}

.pink {
  color: white;
}

img{
  margin: 9%;
}
/*#whiteCover{
padding-right: 20px;
}*/

#backgroundwhite{
  background-color: black;
  padding: 80px;
  margin-bottom: 60px;
  border: 10px dotted white;
}
